<style>
	body {
		font-family: "Lucida Grande", "Segoe UI", "Tahoma", sans-serif;
		font-size: 10pt;
		line-height: 150%;
		padding: 1rem;
		margin: 0;
	}

	table.dataframe {
		border-collapse: collapse;
		font-size: 8pt;
	}

	table.dataframe th,
	td {
		padding: 0.25rem;
	}

	table.dataframe > thead > tr > th {
		background-color: black;
		color: white;
	}

	table.dataframe tr>th {
		text-align: left;
	}
</style>

<script>
	// Adapted from: https://stackoverflow.com/a/8666693
	function bodyDidLoad() {
		$('table tr td').each(function () {
			let this_text = $(this).text();

			if (this_text == "NaN") {
				$(this).css('background-color', '#FF7E79');
			}
			else if (this_text == "(NONE DETECTED)")
			{
				$(this).css('background-color', '#FF5D73');
				$(this).css('color', 'white');
			}
			else if (this_text.startsWith("CODE_"))
			{
				$(this).css('background-color', '#91ffaf');
			}
		});
	}
</script>

</head>
<body onload="bodyDidLoad()">
